body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 50px 0;
    padding-left: 5%;
}

.projectLogo {
    max-width: 100px;
    max-height: 100px;
}

h1 {
    color: #ff4500;
    font-size: 3.5em;
    margin-bottom: 10px;
}

.section {
    margin-bottom: 20px;
}

p {
    font-size: 1.7em;
    margin-top: 3px;
    margin-bottom: 3px;
}

.label {
    color: #ff4500;
    font-size: 2.5em;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    text-align: center;
}

.logo img {
    height: 50px;
    margin-bottom: 5px;
}

.logo span {
    font-size: 0.9em;
}

hr {
    border: none;
    border-top: 1px solid #ff4500;
    margin: 10px 0;
}